
<section class="espacioLinea">
	<!--LINEA-->
	<div class=" row">
		<div class="col-xl-6  col-xs-12  col-sm-5">
			<div class="butstyle">
				<h3>{{i18n "charts.line"}}</h3>
				<canvas id="graficoLine" ></canvas>
			</div>
		</div>
		<div class="col-xl-6  col-xs-12  col-sm-5">
			<div class="butstyle">
				<h3>{{i18n "charts.bar"}}</h3>
				<canvas id="graficoBar" ></canvas>
			</div>
		</div>
	</div>
	<!--FIN LINEA-->
	<!--LINEA-->
	<div class=" row">
		<div class="col-xl-6  col-xs-12  col-sm-5">
			<div class="butstyle">
				<h3>{{i18n "charts.radar"}}</h3>
				<canvas id="graficoRadar" ></canvas>
			</div>
		</div>
		<div class="col-xl-6  col-xs-12  col-sm-5">
			<div class="butstyle">
				<h3>{{i18n "charts.polar"}}</h3>
				<canvas id="graficoPolar" ></canvas>
			</div>
		</div>
	</div>
	<!--FIN LINEA-->
	<!--LINEA-->
	<div class=" row">
		<div class="col-xl-6  col-xs-12  col-sm-5">
			<div class="butstyle">
				<h3>{{i18n "charts.pie"}}</h3>
				<canvas id="graficoPie" ></canvas>
			</div>
		</div>
		<div class="col-xl-6 col-xs-12  col-sm-5 ">
			<div class="butstyle">
				<h3>{{i18n "charts.doughnut"}}</h3>
				<canvas id="graficoDoughnut"></canvas>
			</div>
		</div>
	</div>
	<!--FIN LINEA-->
	<!--LINEA-->
	<div class="row">
		<div class="col-xl-6  col-xs-12  col-sm-5">
			<div class="butstyle">
				<h3>{{i18n "charts.bubble"}}</h3>
				<canvas id="graficoBubble" ></canvas>
			</div>
		</div>
		<div class=""></div>
	</div>
</section>
