<div id="treeCodeDialog" style="display:none">
	<div id="htmlCode" class="codePanel codePanelLeft"></div>
	<div id="javaScriptCode" class="codePanel codePanelRight"></div>
</div>

<div id="tree_example" class="tree_example_code">
	<ul>
		<li id="node1">
			<a href="#">Padre 1</a>
			<ul>
				<li id="node11">
					<a href="#">Padre 1.1</a>
					<ul>
						<li id="node111">
							<a href="#">Hoja 1.1.1</a>
						</li>
						<li id="node112">
							<a href="#">Padre 1.1.2</a>
							<ul>
								<li id="node1121">
									<a href="#">Hoja 1.1.2.1</a>
								</li>
								<li id="node1122">
									<a href="#">Hoja 1.1.2.2</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li id="node12">
					<a href="#">Hoja 1.2></a>
				</li>
			</ul>
		</li>
	</ul>
</div>

<div id="model_example_1" class="model_example_1_code">
	{<ul>
		<li id="node1">
			<a href="#">{{i18n "treeExample.Hijo1"}}</a>
			<ul>
				<li id="node11">
					<a href="#">{{i18n "treeExample.Hijo2"}}</a>
					<ul>
						<li id="node111">
							<a href="#">{{i18n "treeExample.hoja"}}</a>
						</li>
						<li id="node112">
							<a href="#">{{i18n "treeExample.Hijo3"}}</a>
							<ul>
								<li id="node1121">
									<a href="#">{{i18n "treeExample.hoja"}}</a>
								</li>
							</ul>
						</li>
						<li id="node113">
							<a href="#">{{i18n "treeExample.Hijo3"}}</a>
							<ul>
								<li id="node1131">
									<a href="#">{{i18n "treeExample.hoja"}}</a>
								</li>
								<li id="node1132">
									<a href="#">{{i18n "treeExample.hoja"}}</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li id="node12">
					<a href="#">{{i18n "treeExample.Hijo2"}}</a>
					<ul>
						<li id="node121">
							<a href="#">{{i18n "treeExample.Hijo3"}}</a>
							<ul>
								<li id="node1211">
									<a href="#">{{i18n "treeExample.hoja"}}</a>
								</li>
								<li id="node1212">
									<a href="#">{{i18n "treeExample.hoja"}}</a>
								</li>
								<li id="node1213">
									<a href="#">{{i18n "treeExample.hoja"}}</a>
								</li>
								<li id="node1214">
									<a href="#">{{i18n "treeExample.hoja"}}</a>
								</li>
							</ul>
						</li>
						<li id="node122">
							<a href="#">{{i18n "treeExample.hoja"}}</a>
						</li>
					</ul>
				</li>
				<li id="node13">
					<a href="#">{{i18n "treeExample.hoja"}}</a>
				</li>
			</ul>
		</li>
		<li id="node2">
			<a href="#">{{i18n "treeExample.hoja"}}</a>
		</li>
	</ul>}
</div>

<div id="model_example_2" class="model_example_2_code">
	<ul>
		<li id="nodeA">
			<a href="#">{{i18n "treeExample.HijoA"}}</a>
			<ul>
				<li id="nodeAA">
					<a href="#">{{i18n "treeExample.HijoA"}}{{i18n "treeExample.HijoA"}}</a>
				</li>
				<li id="nodeAB">
					<a href="#">{{i18n "treeExample.HijoA"}}{{i18n "treeExample.HijoB"}}</a>
				</li>
				<li id="nodeAC">
					<a href="#">{{i18n "treeExample.HijoA"}}{{i18n "treeExample.HijoC"}}</a>
					<ul>
						<li id="nodeACA">
							<a href="#">{{i18n "treeExample.HijoA"}}{{i18n "treeExample.HijoC"}}{{i18n "treeExample.HijoA"}}</a>
						</li>
						<li id="nodeACB">
							<a href="#">{{i18n "treeExample.HijoA"}}{{i18n "treeExample.HijoC"}}{{i18n "treeExample.HijoB"}}</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li id="nodeB">
			<a href="#">{{i18n "treeExample.HijoB"}}</a>
		</li>
		<li id="nodeC">
			<a href="#">{{i18n "treeExample.HijoC"}}</a>
			<ul>
				<li id="nodeCA">
					<a href="#">{{i18n "treeExample.HijoC"}}{{i18n "treeExample.HijoA"}}</a>
				</li>
				<li id="nodeCB">
					<a href="#">{{i18n "treeExample.HijoC"}}{{i18n "treeExample.HijoB"}}</a>
				</li>
			</ul>
		</li>
	</ul>
</div>
<section class="row">
	<div class="col-xl-3  col-xs-12  col-sm-4">
		<div class="butstyle">
			<h3 class="rup_tree_h3">{{i18n "tree.example.default"}}</h3>
			<div id="defaultDemo" class="rup_tree model_example_1"></div>
			<div id="codeDefaultControl" class="controlsMainCode">
				<button id="btnDefaultDemo">{{i18n "tree.verCodigo.boton"}}</button>
			</div>
		</div>
	</div>
	<div class="col-xl-3  col-xs-12  col-sm-4">
		<div class="butstyle">
			<h3 class="rup_tree_h3">{{i18n "tree.example.specificStyle"}}</h3>
			<div id="specificStyleDemo" class="rup_tree model_example_1"></div>
			<div id="codeSpecificStyleControl" class="controlsMainCode">
				<button id="btnSpecificStyleDemo">{{i18n "tree.verCodigo.boton"}}</button>
			</div>
		</div>
	</div>
	<div class="col-xl-3  col-xs-12  col-sm-4">
		<div class="butstyle">
			<h3 class="rup_tree_h3">{{i18n "tree.example.changeView"}}</h3>
			<div id="changeViewDemo" class="rup_tree model_example_1_button"></div>

			<div id="changeViewExampleControl" class="controlsMainExample">
				<button id="toggle_dots"  style="width: 32%">{{i18n "treeExample.dots"}}</button>
				<button id="toggle_icons" style="width: 32%">{{i18n "treeExample.icons"}}</button>
				<button id="changeTheme" style="width: 32%">{{i18n "treeExample.theme"}}</button>
			</div>

			<div id="codeChangeViewControl" class="controlsMainCode">
				<button id="btnChangeViewDemo">{{i18n "tree.verCodigo.boton"}}</button>
			</div>
		</div>
	</div>
	<div class="col-xl-3  col-xs-12  col-sm-4">
		<div class="butstyle">
			<h3 class="rup_tree_h3">{{i18n "tree.example.jqueryuiStyles"}}</h3>
			<div id="jqueryuiStylesDemo" class="rup_tree model_example_1_jqueryui"></div>

			<div id="jqueryuiStylesViewControl" class="controlsMainCode">
				<button id="btnJqueryuiStylesDemo">{{i18n "tree.verCodigo.boton"}}</button>
			</div>
		</div>
	</div>
</section>
<section class="row">
	<div class="col-xl-3  col-xs-12  col-sm-4">
		<div class="butstyle">
			<h3 class="rup_tree_h3">{{i18n "tree.example.select"}}</h3>
			<div id="selectDemo" class="rup_tree model_example_1_button"></div>

			<div id="selectExampleControl" class="controlsMainExample">
				<button id="saveSelection"  style="width: 32%">{{i18n "treeExample.save"}}</button>
				<button id="loadSelection" style="width: 32%">{{i18n "treeExample.load"}}</button>
				<button id="deselectAll" style="width: 32%">{{i18n "treeExample.deselect"}}</button>
			</div>
			<div id="codeSelectControl" class="controlsMainCode">
				<button id="btnSelectDemo">{{i18n "tree.verCodigo.boton"}}</button>
			</div>
		</div>
	</div>

	<div class="col-xl-3  col-xs-12  col-sm-4">
		<div class="butstyle">
			<h3 class="rup_tree_h3">{{i18n "tree.example.hotkeys"}}</h3>
			<div id="hotkeysDemo" class="rup_tree model_example_1_button"></div>

			<div id="hotkeysExampleControl" class="controlsMainExample">
				<button id="enableHotkeys"  style="width: 49%">{{i18n "treeExample.enable"}}</button>
				<button id="disableHotkeys" style="width: 49%">{{i18n "treeExample.disable"}}</button>
			</div>

			<div id="codeHotkeysControl" class="controlsMainCode">
				<button id="btnHotkeysDemo">{{i18n "tree.verCodigo.boton"}}</button>
			</div>
		</div>
	</div>

	<div class="col-xl-3  col-xs-12  col-sm-4">
		<div class="butstyle">
			<h3 class="rup_tree_h3">{{i18n "tree.example.sort"}}</h3>
			<div id="sortDemo" class="rup_tree model_example_1_button"></div>

			<div id="sortExampleControl" class="controlsMainExample">
				<button id="renameButton"  style="width: 50%; text-align: center;">{{i18n "treeExample.rename"}}</button>
				<label>{{i18n "treeExample.renameKey"}}</label>
			</div>

			<div id="codeSortControl" class="controlsMainCode">
				<button id="btnSortDemo">{{i18n "tree.verCodigo.boton"}}</button>
			</div>
		</div>
	</div>

	<div class="col-xl-3  col-xs-12  col-sm-4">
		<div class="butstyle">
			<h3 class="rup_tree_h3">{{i18n "tree.example.checkbox"}}</h3>
			<div id="checkboxDemo" class="rup_tree model_example_1_button"></div>

			<div id="checkboxExampleControl" class="controlsMainExample">
				<button id="checkboxShowHide" style="width: 35%">{{i18n "treeExample.showHide"}}</button>
				<button id="checkboxCheckAll"  style="width: 31%; white-space: nowrap;">{{i18n "treeExample.checkAll"}}</button>
				<button id="checkboxUncheckAll" style="width: 31%; white-space: nowrap;">{{i18n "treeExample.unCheckAll"}}</button>
			</div>

			<div id="codeCheckboxControl" class="controlsMainCode">
				<button id="btnCheckboxDemo">{{i18n "tree.verCodigo.boton"}}</button>
			</div>
		</div>
	</div>
</section>
<section class="row">
	<div class="col-xl-3  col-xs-12  col-sm-4">
		<div class="butstyle">
			<h3 class="rup_tree_h3">{{i18n "tree.example.contextmenu"}}</h3>
			<div id="contextmenuDemo" class="rup_tree model_example_1"></div>

			<div id="codeContextmenuControl" class="controlsMainCode">
				<button id="btnContextmenuDemo">{{i18n "tree.verCodigo.boton"}}</button>
			</div>
		</div>
	</div>
	<div class="col-xl-3  col-xs-12  col-sm-4">
		<div class="butstyle">
			<h3 class="rup_tree_h3">{{i18n "tree.example.unique"}}</h3>
			<div id="uniqueDemo" class="rup_tree model_example_1_button"></div>

			<div id="uniqueExampleControl" class="controlsMainExample">
				<button id="uniqueRenameButton"  style="width: 49%; text-align: center;">{{i18n "treeExample.rename"}}</button>
				<button id="uniqueNewButton"  style="width: 49%; text-align: center;">{{i18n "treeExample.new"}}</button>
			</div>

			<div id="uniqueControl" class="controlsMainCode">
				<button id="btnUniqueDemo">{{i18n "tree.verCodigo.boton"}}</button>
			</div>
		</div>
	</div>
	<div class="col-xl-3  col-xs-12  col-sm-4">
		<div class="butstyle">
			<h3 class="rup_tree_h3">{{i18n "tree.example.json"}}</h3>
			<div id="jsonTreeDemo" class="rup_tree model_example_1"></div>

			<div id="codeJsonTreeControl" class="controlsMainCode">
				<button id="btnJsonTreeDemo">{{i18n "tree.verCodigo.boton"}}</button>
			</div>
		</div>
	</div>

		<div class="col-xl-3  col-xs-12  col-sm-4">
			<div class="butstyle">
			<h3 class="rup_tree_h3">{{i18n "tree.example.xml"}}</h3>
			<div id="xmlTreeDemo" class="xml_tree model_example_1"></div>

			<div id="codeXmlTreeControl" class="controlsMainCode">
				<button id="btnXmlTreeDemo">{{i18n "tree.verCodigo.boton"}}</button>
			</div>
		</div>
	</div>
</section>
<section class="row">
	<div class="col-xl-3  col-xs-12  col-sm-4">
		<div class="butstyle">
		<h3 class="rup_tree_h3">{{i18n "tree.example.ajax"}}</h3>
		<div id="ajaxTreeDemo" class="ajax_tree model_example_1"></div>

		<div id="codeAjaxTreeControl" class="controlsMainCode">
			<button id="btnAjaxTreeDemo">{{i18n "tree.verCodigo.boton"}}</button>
		</div>
	</div>
	</div>
</section>
