<div class="grid-stack-item"  
     {{#if minWidth}} data-gs-min-width="{{minWidth}}" {{/if}}
     {{#if maxWidth}} data-gs-max-width="{{maxWidth}}" {{/if}}
     {{#if minHeight}} data-gs-min-height="{{minHeight}}" {{/if}}
     {{#if maxHeight}} data-gs-max-height="{{maxHeight}}" {{/if}}
     data-rup-widget-type="{{type}}">

    <div class="{{itemClass}}" >

    </div>
</div>
