
<p class="help_widget_intro">{{i18n "help.parrafo1"}}</p>

<div class="help_block add_widget_action">
<p>{{i18n "help.addWidget"}}</p>
<p>{{i18n "help.addWidgetText"}}</p>
</div>

<div class="help_block config_widget_action">
<p>{{i18n "help.configura"}}</p>
<p>{{i18n "help.configuraText"}}</p>
</div>

<div class="help_block help_widget_action">
<p>{{i18n "help.ayuda"}}</p>
<p>{{i18n "help.ayudaText"}}</p>
</div>
