<div id="pagination_{{tableId}}" class="col-sm-4 text-center text-sm-left">
  	<i class="mdi mdi-view-list" aria-hidden="true" title="{{resultNumText}}"></i>
  	<span id="rup_table_selectedElements_{{tableId}}" class="ml-1" >
    	{{resultNumText}}
  	</span>
</div>
<div id="pag_{{tableId}}" class="col-sm-8 text-center text-sm-right mt-3 mt-sm-0">
    <button type="button" id="first_{{tableId}}" class="btn-sm btn-outline-dark" alt="{{labelFirst}}">{{labelFirst}}</button>
    <button type="button" id="back_{{tableId}}" class="btn-sm btn-outline-dark" alt="{{labelPrev}}">{{labelPrev}}</button>
    <button type="button" id="forward_{{tableId}}" class="btn-sm btn-outline-dark" alt="{{labelNext}}">{{labelNext}}</button>
    <button type="button" id="last_{{tableId}}" class="btn-sm btn-outline-dark" alt="{{labelLast}}">{{labelLast}}</button>
</div>