<li>
  <a  id="{{id}}"
      href="{{href}}"
      rupLevel="{{rupLevel}}"
      title="{{title}}"
      alt="{{alt}}">

      <div class="rup-tabs_title">{{label}}</div>
      <span class="rup-tabs_loading"> </span>
      {{#if btnClose}}
        <span class="ui-icon ui-icon-close" role="presentation">Remove Tab</span>
      {{/if}}
  </a>

</li>
