<div id="pagination_{{tableId}}" class="rup-table-detail-info">
  <i class="fa fa-list-alt" aria-hidden="true" title="{{resultNumText}}"></i>
  <span id="rup_table_selectedElements_table" class="rup-table-detail-currentElement" >
    {{numResult}}
  </span>
</div>
<div id="pag_{{tableId}}" class="rup-table-detail-navigation">
    <a id="first_{{tableId}}" class="rup-table_linkPaginacionDetalle" href="javascript:void(0)" alt="{{labelFirst}}">{{labelFirst}}</a>
    <a id="back_{{tableId}}" class="rup-table_linkPaginacionDetalle" href="javascript:void(0)" alt="{{labelPrev}}">{{labelPrev}}</a>
    <a id="forward_{{tableId}}" class="rup-table_linkPaginacionDetalle" href="javascript:void(0)" alt="{{labelNext}}">{{labelNext}}</a>
    <a id="last_{{tableId}}" class="rup-table_linkPaginacionDetalle" href="javascript:void(0)" alt="{{labelLast}}">{{labelLast}}</a>
  </div>
  <div class="rup-table-detail-separator"></div>
