<div id="pagination_{{jqtableId}}" class="rup-jqtable-detail-info">
  <i class="mdi mdi-view-list" aria-hidden="true" title="{{resultNumText}}"></i>
  <span id="rup_jqtable_selectedElements_{{jqtableId}}" class="rup-jqtable-detail-currentElement" >
    {{numResult}}
  </span>
</div>
<div id="pag_{{jqtableId}}" class="rup-jqtable-detail-navigation">
    <button type="button" id="first_{{jqtableId}}" class="btn-sm btn-outline-dark" alt="{{labelFirst}}">{{labelFirst}}</button>
    <button type="button" id="back_{{jqtableId}}" class="btn-sm btn-outline-dark" alt="{{labelPrev}}">{{labelPrev}}</button>
    <button type="button" id="forward_{{jqtableId}}" class="btn-sm btn-outline-dark" alt="{{labelNext}}">{{labelNext}}</button>
    <button type="button" id="last_{{jqtableId}}" class="btn-sm btn-outline-dark" alt="{{labelLast}}">{{labelLast}}</button>
  </div>
  <div class="rup-jqtable-detail-separator separador"></div>
