<div id="{{idModal}}" class="config-required-modal">
    <div>
        <div>
            <span>{{titulo}}{{#if urlConsulta}}<br/>{{{urlConsulta}}}{{/if}}</span><br>
            <button id="btnConfigRequired" type="button" class="btn-material btn-material-primary-high-emphasis">
                <span class="mdi mdi-settings" aria-hidden="true"></span>{{i18n "title.configuracion"}}</button>
            <button id="btnDelete" type="button" class="btn-material btn-material-warning-dark-high-emphasis">
                <span class="mdi mdi-delete" aria-hidden="true"></span>{{i18n "title.eliminar"}}</button>
            
        </div>
    </div>
</div>