<h2>{{i18n "charts.charts"}}</h2>
<div>
	<!--LINEA-->
	<div class="espacioLinea">
		<div class="enLinea butstyle celdaGrafico">
			<h3>{{i18n "charts.line"}}</h3>
			<canvas id="graficoLine" ></canvas>
		</div>
		<div class="enLinea celdaEspacio"></div>
		<div class="enLinea butstyle celdaGrafico">
			<h3>{{i18n "charts.bar"}}</h3>
			<canvas id="graficoBar" ></canvas>

		</div>
	</div>
	<!--FIN LINEA-->
	<!--LINEA-->
	<div class="espacioLinea">
		<div class="enLinea butstyle celdaGrafico">
			<h3>{{i18n "charts.radar"}}</h3>
			<canvas id="graficoRadar" ></canvas>
		</div>
		<div class="enLinea celdaEspacio"></div>
		<div class="enLinea butstyle celdaGrafico">
			<h3>{{i18n "charts.polar"}}</h3>
			<canvas id="graficoPolar" ></canvas>
		</div>
	</div>
	<!--FIN LINEA-->
	<!--LINEA-->
	<div class="espacioLinea">
		<div class=" butstyle  enLinea celdaGrafico">
			<h3>{{i18n "charts.pie"}}</h3>
			<canvas id="graficoPie" ></canvas>
		</div>
		<div class="enLinea celdaEspacio"></div>
		<div class="enLinea butstyle celdaGrafico ">
			<h3>{{i18n "charts.doughnut"}}</h3>
			<canvas id="graficoDoughnut"></canvas>
		</div>
	</div>
	<!--FIN LINEA-->
	<!--LINEA-->
	<div class="espacioLinea">
		<div class="enLinea butstyle celdaGrafico">
			<h3>{{i18n "charts.bubble"}}</h3>
			<canvas id="graficoBubble" ></canvas>
		</div>
		<div class="enLinea"></div>
		<div class="enLinea"></div>
	</div>
</div>
