<h2>{{i18n "charts.charts"}}</h2>
<div>
	<div >
		<div class="enLinea">
			<h2>{{i18n "charts.line"}}</h2>
			<canvas id="graficoLine" width="450px" height="400px"></canvas>
		</div>
		<div class="enLinea"></div>
		<div class="enLinea">
			<h2>{{i18n "charts.bar"}}</h2>
			<canvas id="graficoBar" width="450px" height="400px"></canvas>

		</div>
	<div>
	<div>
		<div class="enLinea">
			<h2>{{i18n "charts.radar"}}</h2>
			<canvas id="graficoRadar" width="450px" height="400px"></canvas>

		</div>
		<div class="enLinea"></div>
		<div class="enLinea">
			<h2>{{i18n "charts.polar"}}</h2>
			<canvas id="graficoPolar" width="450px" height="400px"></canvas>

		</div>
	<div>
	<div>
		<div class="enLinea">
			<h2>{{i18n "charts.pie"}}</h2>
			<canvas id="graficoPie" width="450px" height="400px"></canvas>
		</div>
		<div class="enLinea"></div>
		<div class="enLinea">
			<h2>{{i18n "charts.doughnut"}}</h2>
			<canvas id="graficoDoughnut" width="450px" height="400px"></canvas>
		</div>
	<div>

</div>
